
:root {
    --brend-color: #2196F3;
    --color-text: #757575;
    --color-tittle: #212121;
    --bgd-brand: #2F303A;
    --bgd-color-text: #FFFFFF;
    --color-footer-link: #FFFFFF99;

}

body {
    font-family: Roboto, sans-serif;
    color: var(--color-text);
    background-color: var(#FFFFFF);
}

li {
    list-style-type: none;
  }

  
/* Логотип Шапки */

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
    text-decoration: none;
}
.logo > span{
    color: var(--brend-color);
}

/* Ссылки навигации */

.social-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--color-tittle);
}
.social-link a{
    color:var(--color-tittle);
    text-decoration: none;
}
.social-link a:hover,
.social-link a:focus{
    color: var(--brend-color);
}
.social-link .list{
    color: var(--color-text);
    text-decoration: none;
}
.social-link .list:hover,
.social-link .list:focus{
    color:var(--brend-color);
}

/* Hero */

.hero .tittle{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bgd-color-text);
    background-color: var(--bgd-brand);
}
.hero .button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
}
.hero .button:hover,
.hero .button:focus{
    background-color: var(--brend-color);
    color: var(--bgd-color-text);
}

/* Особености */

.subtittle .tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
.subtittle .text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Виджеты */

.widget .tittle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
/* Команда */

.commands .tittle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
.commands .subtittle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
.commands .text{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* Подвал */
.footer{
    background-color: var(--bgd-brand);
}
.footer .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--bgd-color-text);
    text-decoration: none;
}
.footer .logo > span{
    color: var(--brend-color);
}
.footer .text{
    color: var(--bgd-color-text);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer .list{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--color-footer-link);
}
.footer .link:hover,
.footer .link:focus{
    color:var(--brend-color)
}

/* Портфолио */

.radiobutton .button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.radiobutton .button:hover,
.radiobutton .button:focus{
    background-color: var(--brend-color);
    color: var(--bgd-color-text);
}

.features .tittle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-tittle);
}
.features .text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}