/* Основные настройки */
:root {
    --brend-color: #2196F3;
    --color-text: #757575;
    --color-tittle: #212121;
    --bgd-brand: #2F303A;
    --bgd-color-text: #FFFFFF;
    --color-footer-link: #FFFFFF99;

}
body {
    font-family: Roboto, sans-serif;
    color: var(--color-text);
    background-color: var(#FFFFFF);
}
.list {
    list-style-type: none;
  }

  h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0px;
    padding: 0px;
  }
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

*, 
::after, 
::before {
    box-sizing: border-box;
}

img {
   display: block;
}
/* Логотип Хедера */

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
    text-decoration: none;
    margin-right: 93px;
}
.header-logo > span{
    color: var(--brend-color);
}

/* Ссылки навигации сайта */

.nav-link, .contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--color-tittle);
}
.nav-link{
    color:var(--color-tittle);
    padding-top: 28px;
    padding-bottom: 28px;
}
.contact-link{
    color: var(--color-text);
}
.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus{
    color:var(--brend-color);
}

.page-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
}

.header-box{
    display: flex;
}

.nav-item{
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item,
.contact-item{
    margin-right: 50px;
}

.header-logo{
    align-self: center;
}

.nav-list{
    display: flex;
    margin-right: auto;
    align-self: center;
    

}

.contact-list{
    display: flex;
    align-self: center;
}

.nav-item:last-child,
.contact-item:last-child{
    margin-right: 0;
}



/* Hero */
.hero{
    display: flex;
    height: 600px;
    background-color: var(--bgd-brand);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero .hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bgd-color-text);
    margin-bottom: 30px;
}

.hero-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    cursor: pointer;
    background-color: var(--brend-color);
    color: var(--bgd-color-text);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent; 
}

/* Особености */

.special{
    padding-bottom: 0px;

}
.special-item{
    display: flex;
}

.special-list{
    display: flex;
    justify-content: space-between;
}
.special-item{
    flex-direction: column;
    width: 270px;
    height: 101px;
}

.special-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
    padding-bottom: 10px;

}
.special-text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Виджеты */

.widget-list{
    display: flex;
    justify-content: space-between;
}

.widget-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
    padding-bottom: 50px;
}

/* Команда */
.team{
    background-color: #F5F4FA;
}

.team-list{
    display: flex;
    justify-content: space-between;
}

.team-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
    padding-bottom: 50px;
    
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
    padding-top: 30px;
    padding-bottom: 10px;
}
.team-speciality{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
}

.team-item{
    box-shadow: 0px 1px 3px 
    rgba(0, 0, 0, 0.12), 0px 1px 1px 
    rgba(0, 0, 0, 0.14), 0px 2px 1px 
    rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--bgd-color-text)
}
/* Подвал */

.footer{
    display: flex;
    background-color: var(--bgd-brand);
    padding-top: 60px;
    padding-bottom: 60px;
}
.address-item:not(:last-child){
padding-bottom: 9px;
}
.footer-logo > span{
    color: var(--brend-color);
}
.footer-logo{
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--bgd-color-text);
    text-decoration: none;
    margin-bottom: 20px;
}

.address-map,
.address-link{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-map{
    color: var(--bgd-color-text);
}
.address-link{
    color:var(--color-footer-link);
    text-decoration: none;
}
.address-link:hover,
.address-link:focus{
    color:var(--brend-color)
}


/* Портфолио */

/* Кнопки */

.portfolio-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    border-color: transparent;
    color: var(--color-tittle);
    background-color: #F5F4FA;
    height: 38px;
    border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color: var(--brend-color);
    color: var(--bgd-color-text);
}
.project-list{
    display: flex;
    justify-content: center;
}
.project{
    padding-bottom: 50px;
}
.project-item:not(:last-child){
    padding-right: 8px;
}

/* Картинки */

.features{
    padding-top: 0px;
}
.features-subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-tittle);
    margin-bottom: 4px;

}
.features-text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

}
.features-list{
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
}
.features-item{
    flex-basis:calc(100%/3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.features-content{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
    border-top: 0px;
}