/* Основные настройки */
:root {
    --brend-color: #2196F3;
    --color-text: #757575;
    --color-tittle: #212121;
    --bgd-brand: #2F303A;
    --bgd-color-text: #FFFFFF;
    --color-footer-link: #FFFFFF99;

}
body {
    font-family: Roboto, sans-serif;
    color: var(--color-text);
    background-color: var(#FFFFFF);
}
.list {
    list-style-type: none;
  }

  h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0px;
    padding: 0px;
  }
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

*, 
::after, 
::before {
    box-sizing: border-box;
}
/* Логотип Хедера */

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
    text-decoration: none;
    margin-right: 93px;
}
.header-logo > span{
    color: var(--brend-color);
}

/* Ссылки навигации сайта */

.nav-list, .contact-list .contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--color-tittle);
}
.nav-list .nav-link{
    color:var(--color-tittle);
    text-decoration: none;
}
.contact-list .contact-link{
    color: var(--color-text);
}
.contact-list .contact-link:hover,
.contact-list .contact-link:focus,
.nav-list .nav-link:hover,
.nav-list .nav-link:focus{
    color:var(--brend-color);
}

.page-header{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.header-box{
    display: flex;
}

.nav-item,
.contact-item{
    margin-right: 50px;
}

.header-logo{
    align-self: center;
}

.nav-list{
    display: flex;
    margin-right: auto;
    align-self: center;
}

.contact-list{
    display: flex;
    align-self: center;
}

.nav-item:last-child,
.contact-item:last-child{
    margin-right: 0;
}


/* Hero */
.hero{
    height: 600px;
    background-color: var(--bgd-brand);
}


.hero .hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bgd-color-text);
}
.hero-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    cursor: pointer;
    background-color: var(--brend-color);
    color: var(--bgd-color-text);
}

/* Особености */

.subtitle .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
.subtitle .text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Виджеты */

.widget .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
/* Команда */

.team .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
.team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-tittle);
}
.team ..speciality{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* Подвал */

.footer{
    background-color: var(--bgd-brand);
}
.footer-logo > span{
    color: var(--brend-color);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--bgd-color-text);
    text-decoration: none;
}
.address .text{
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--bgd-color-text);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address .link{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--color-footer-link);
    text-decoration: none;
}
.address .link:hover,
.address .link:focus{
    color:var(--brend-color)
}

/* Портфолио */

.portfolio-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color: var(--brend-color);
    color: var(--bgd-color-text);
}

.features .subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-tittle);
}
.features .text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}