.clients__title {
    text-align: center;
    
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;

    color: $color-title;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.clients__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;
    width: 170px;

    cursor: pointer;


    border: 1px solid #afb1b8;
    border-radius: 4px;
    
    fill: #afb1b8;


    transition: $cubic250ms;
}

.clients__link:hover {
    fill: $color-accent;
    border: 1px solid $color-accent;
}