.footer {
    display: block;
    background-color: $color-bg-hero;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__box {
    display: flex;
}

.logo--footer {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0px;

    color: $color-bg-text;
}

.address__list {
    display: inline-block;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address__map {
    color: $color-bg-text;
    text-decoration: none;
}

.address__link {
    color: $color-footer-link;
    text-decoration: none;

    transition: $cubic250ms;

    &:hover,:focus{
        color: $color-accent;
    }
}

// .address__link:hover,
// .address__link:focus {
//     color: var(--brend-color)
// }

/* СЕКЦИЯ 2 */

.networks {
    display: block;
    margin-left: 70px;
    margin-top: 12px;
}

.networks__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color-bg-text;
    margin-bottom: 20px;
}

.networks__list {
    display: flex;
}

// .networks__item:not(:last-child) {
//     margin-right: 10px;
// }

.networks__item {
    display: block;
    padding: 12px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    cursor: pointer;
    
    background: rgba(255, 255, 255, 0.1);

    transition: $cubic250ms;

    &:hover{
        background-color: $color-accent;
        fill: $color-bg-text;
    }

    &:not(:last-child){
        margin-right: 10px;
    }
}

// .networks__item:hover {
//     background-color: var(--brend-color);
//     fill: #FFFFFF;
// }

.subscribe {
    margin-left: 93px;
    margin-top: 12px;
}

.subscribe__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color-bg-text;
    margin-bottom: 20px;
}

.subscribe__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px 15px 16px;
    outline-style: none;
    
    color: $color-bg-text;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;

    &:focus, :not(:placeholder-shown){
        border-color: $color-accent;
    }
}

// .subscribe__input:focus,
// .subscribe__input:not(:placeholder-shown) {
//     border-color: var(--brend-color);
// }

.subscribe__btn {
    display: inline-block;
}

.subscribe__submit {
    display: flex;
    justify-content: center;
    align-items: center;

    @extend %button;
    box-shadow: $box-shadow-submit;
}

.subscribe__icon {
    margin: 13px 0px 13px 10px;
}
