.footer {
    background-color: $color-bg-hero;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address{
    text-align: center;
    padding-bottom: 60px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}


.address__map {
    color: $color-bg-text;
    text-decoration: none;
}

.address__link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $color-footer-link;
    text-decoration: none;

    transition: $cubic250ms;

    &:hover,:focus{
        color: $color-accent;
    }
}

/* СЕКЦИЯ 2 */

.networks__list {
    display: flex;
    justify-content: center;
}

.networks__title {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color-bg-text;
    margin-bottom: 20px;

}

.networks__item {
    padding: 12px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    cursor: pointer;
    
    background: rgba(255, 255, 255, 0.1);

    transition: $cubic250ms;

    &:hover{
        background-color: $color-accent;
        fill: $color-bg-text;
    }

    &:not(:last-child){
        margin-right: 10px;
    }
}


.subscribe {
    padding-top: 60px;
}

.subscribe__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $color-bg-text;
    margin-bottom: 20px;
}

.subscribe__input {
    width: 450px;
    height: 50px;
    padding: 15px 16px 15px 16px;
    outline-style: none;
    
    color: $color-bg-text;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;

    &:focus, :not(:placeholder-shown){
        border-color: $color-accent;
    }
}

@media screen and (max-width: 480px) {
    .subscribe__input{
        width: 100%;
    }
}

.subscribe__btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subscribe__submit {
    display: flex;
    justify-content: center;
    align-items: center;

    @extend %button;
    box-shadow: $box-shadow-submit;
}

.subscribe__icon {
    margin: 13px 0px 13px 10px;
}

// Tablet

@media screen and (min-width: 768px) {

    .footer__container{
        display: flex;
        justify-content: space-between;
    }
    .footer__address{
        margin-left: 76px;
    }
    .address{
        padding-bottom: 0;
    }
    .networks{
        margin-right: 89px;
    }
    .subscribe{
        text-align: center;
    }
}

// Dekstop

@media screen and (min-width: 1200px) {
    .footer__box{
        display: flex;
    }
    .footer__address{
        margin-left: 0;
    }
    .networks{
        margin-left: 70px;
        margin-right: 0;
    }
    .subscribe{
        
        padding-top: 0;
    }
    .subscribe__btn{
        display: inline-block;
        margin-top: 0;
        margin-left: 12px;
    }
    .subscribe__input{
        margin-left: 88px;
        width: 358px;
    }
    .subscribe__title{
        text-align: left;
        margin-left: 88px;
    }
}