.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;

    background-color: $color-bg-hero;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/heroMobile@1x.jpg');

                @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: 
            linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url('../images/heroMobile@2x.jpg');
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        background-image: 
            linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url('../images/heroTablet@1x.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: 
            linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), 
            url('../images/heroTablet@2x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        background-image:
            linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('../images/heroDekstop@1x.jpg');
        
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image:
            linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('../images/heroDekstop@2x.jpg');
        }
    }
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    color: $color-bg-text;
}

.hero__btnOpen {
    @extend %button;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $color-bg-backdrop;
    transition: $cubic250ms;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
