.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    height: 400px;
    margin-right: auto;
    margin-left: auto;

    background-color: $color-bg-hero;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img-hero-bg.jpg);

}


.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    color: $color-bg-text;
}

.hero__btnOpen {
    @extend %button;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $color-bg-backdrop;
    transition: $cubic250ms;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
