.logo {
    align-self: center;
    text-decoration: none;

    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: $color-title;
}

.logo__text {
    color: $color-accent;
}

.logo--footer {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0px;

    color: $color-bg-text;
}