*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--color-text);
    background-color: var(#FFFFFF);
}

img {
    display: block;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style-type: none;
}