$color-accent:#2196F3;
$color-hover-btn:#188CE8;
$color-bg-text:#ffffff;
$color-footer-link:#FFFFFF99;
$color-title:#212121;
$color-bg-hero:#2F303A;
$color-bg-backdrop:rgba(0, 0, 0, 0.2);
$color-contact:#757575;
$color-bg-modal: #ffffff;



:root {
    --brend-color: #2196F3;
    --color-text: #757575;
    --color-tittle: #212121;
    --bgd-brand: #2F303A;
    --bgd-color-text: #FFFFFF;
    --color-footer-link: #FFFFFF99;
}

$box-shadow: 
0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);

$box-shadow-modal:
0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);

$box-shadow-submit: 0px 4px 4px rgba(0, 0, 0, 0.15);

$cubic250ms: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$cubic500ms: 500ms cubic-bezier(0.4, 0, 0.2, 1);



















